* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

img {
    display: block;
    

}

a {
    text-decoration-line: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-block: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 275px;
}

.container {
    width: 1240px;
    margin-inline: auto;
    padding-inline: 20px;
}

.site-main{
  
}

.main-list{

}


.main-item{
background-color: #202020;
border-radius: 10px;
 width: 250px;
}

.main-title{
color:  #A8F604;
margin: 8px;
}


.main-img{
transform: translate(0%, -30%);

}


.img-stars{
width: 74px;
height: 13px;

 margin: 18px ;


}

.price{
margin: 8px;

}


.img-korzinka{
margin-inline: auto;
display: block;

}

.img-btn{
  background-color: transparent;
    width: 100%;
    border: none;
    border: 1px solid #A8F604;
    padding-block: 5px;
    border-radius: 4px;
    margin:  ;
    padding-left: ;
    padding-right: ;
}

.info-box{
    padding-left: 25px ;
}